# Bytecode do Python
__pycache__/
*.py[cod]

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Ambiente virtual (caso use)
venv/
env/

# Configurações de IDEs (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Arquivos de testes de cobertura (opcional)
.coverage
htmlcov/
